<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://wirt07.biznes-host.pl:3306/virt101443_mh</property>
    <property name="hibernate.connection.username">virt101443_mh</property>
    <property name="hibernate.connection.password">regor36</property>
    <mapping resource="address.hbm.xml"/>
    <mapping resource="personalData.hbm.xml"/>
    <mapping resource="worker.hbm.xml"/>
    <mapping resource="position.hbm.xml"/>
    <mapping resource="shop.hbm.xml"/>
    <mapping resource="werehouse.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
